/* TYPOGRAPHY */
* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

tbody {
  font-weight: 400;
  font-size: 20px;
}

thead {
  font-weight: 700;
  font-size: 20px;
}

.logo {
  font-weight: 700;
  font-size: 35px;
  color: white;
}

/* END TYPOGRAPHY */

/* HEADER STYLING */
header {
  background-color: black;
}

.logo {
  margin: 0;
  padding:22px 92px;
}

/* END HEADER STYLING */

/* STATS OVERVIEW STYLING */

.stats-overview {
  display: flex;
  justify-content: space-evenly;
  margin-top: 96px;
  margin-bottom: 46px;
  margin-left: 80px;
  margin-right: 80px;
}

.stat {
  background-color: black;
  width: 225px;
  height: 181px;
  border-radius: 10px;
}

.stat > :is(p, h2) {
  color: #ffff;
  text-align: center;
}

.stat > h2 {
  font-size: 40px;
  font-weight: 900;
  padding-top: 54px;
  margin-top: 0px;
  margin-bottom: 18px;
}

.stat > p {
  font-size: 16px;
  font-weight: 500;
  margin: 0px 50px;
}

.circle {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: white;
  border: solid black 5px;
  margin-bottom: -40px;
  margin-left: 67.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-app-button {
  padding: 16px 72px;
  background-color: #3C4043;
  border-radius: 5px;
  border: solid black 1px;
  margin-top: 90px;
}

.new-app-button>p {
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin: 0px
}
/* END STATS OVERVIEW STYLING */

/* TABLE STYLING */
table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid rgba(151,151,151,0.51);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 70px;
}

th {
  text-align: left;
}

thead th:nth-child(1) {
  width: 25%;
  padding-left: 30px;
}

thead th:nth-child(2) {
  width: 25%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 10%;
}

th > p {
  margin: 0px;
}

thead th:nth-child(5) {
  width: 12%;
}

thead th:nth-child(6) {
  width: 15%;
  padding-right: 30px;
}

tbody tr:nth-child(odd) {
  background-color: rgba(151,151,151,0.10);
}

tr {
  border-bottom: solid rgba(151,151,151,0.51) 2px;
}

td:first-child {
  padding-left: 30px;
}

td:last-child {
  padding-right: 30px;
}

th,
td {
  padding: 20px;
}

.status > p {
  font-size: 16px;
  font-weight:600;
  border: 2px solid black;
  padding: 5px 12px;
  margin: 0px;
  text-align: center;
  border-radius: 5px;
}

.rejected > p {
  background-color: #FF6058;
}

.awaiting-response > p {
  background-color: #FFD578;
}

.invited-for-interview > p {
  background-color: #5DAA99;
}
/* END TABLE STYLING */

/* Star SVG Styling */
#star {
  width: 52px;
  height: 52px;
}
#star>.cls-1{fill:#fff35f;stroke:#54596e;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
#star>.cls-2{opacity:0.15;}
#star>.cls-3{fill:#54596e;}
#star>.cls-4{fill:#fff;}

/* End Star SVG Styling */

/* Sword-heart SVG Styling  */
#sword-heart {
  width: 68px;
  height: 68px;
}
#sword-heart>.cls-1 {fill: #ff80c3;}
#sword-heart>:is(.cls-1,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7){stroke:#54596e;stroke-linecap:round;stroke-width:2px;}
#sword-heart>:is(.cls-1,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6){stroke-linejoin:round;}
#sword-heart>.cls-2{fill:#d8d8d8;}
#sword-heart>.cls-3{fill:#fff;}
#sword-heart>:is(.cls-4,.cls-7){fill:none;}
#sword-heart>.cls-5{fill:#fff35f;}
#sword-heart>.cls-6{fill:#55a6ff;}
#sword-heart>.cls-7{stroke-miterlimit:10;}
#sword-heart>.cls-8{fill:#54596e;}

/* End Sword-heart SVG Styling  */

/* Muscle-love SVG Styling */
#muscle-love {
  width: 52px;
  height: 52px;
}
#muscle-love>.cls-1{fill:#ff927d;}
#muscle-love>:is(.cls-1,.cls-2,.cls-3,.cls-4){stroke:#54596e;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
#muscle-love>.cls-2{fill:#ffd578;}
#muscle-love>.cls-3,
#muscle-love>.cls-4{fill:none;}
#muscle-love>.cls-4{opacity:0.2;}

/* End Muscle-love SVG Styling  */

/* Moon-Crescent SVG Styling */
#moon-crescent {
  width: 52px;
  height: 52px;
}
#moon-crescent>.cls-1{fill:#61c5a8;stroke-linejoin:round;}
#moon-crescent>:is(.cls-1,.cls-4){stroke:#54596e;}
#moon-crescent>:is(.cls-1,.cls-4,.cls-6){stroke-linecap:round;stroke-width:2px;}
#moon-crescent>:is(.cls-2,.cls-3){fill:#54596e;}
#moon-crescent>.cls-2{opacity:0.2;}
#moon-crescent>:is(.cls-4,.cls-6){fill:none;stroke-miterlimit:10;}
#moon-crescent>.cls-5{fill:#f99;}
#moon-crescent>.cls-6{stroke:#8065c4;}

/* End Moon-Crescent SVG Styling */

